.scene {
    position: relative;

    width: 300px;
    height: 300px;
    margin: 60px auto;
    perspective: 1000px;
}

.carousel {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;

    width: 100%;
    height: 100%;
}

.carousel__cell {
    position: absolute;
    background-position: center;
    width: 300px;
    height: 300px;

    background-size: cover;
    border: 2px solid white;
    border-radius: 12px;

    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.3);
}

.carousel__cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.carousel__controls {
    margin-top: 20px;

    text-align: center;
}

.cell-0 {
    transform: rotateY(0deg) translateZ(412px);
}

.cell-1 {
    transform: rotateY(40deg) translateZ(412px);
}

.cell-2 {
    transform: rotateY(80deg) translateZ(412px);
}

.cell-3 {
    transform: rotateY(120deg) translateZ(412px);
}

.cell-4 {
    transform: rotateY(160deg) translateZ(412px);
}

.cell-5 {
    transform: rotateY(200deg) translateZ(412px);
}

.cell-6 {
    transform: rotateY(240deg) translateZ(412px);
}

.cell-7 {
    transform: rotateY(280deg) translateZ(412px);
}

.cell-8 {
    transform: rotateY(320deg) translateZ(412px);
}

.rotate-0 {
    transform: translateZ(-412px) rotateY(0deg);
}

.rotate-1 {
    transform: translateZ(-412px) rotateY(-40deg);
}

.rotate-2 {
    transform: translateZ(-412px) rotateY(-80deg);
}

.rotate-3 {
    transform: translateZ(-412px) rotateY(-120deg);
}

.rotate-4 {
    transform: translateZ(-412px) rotateY(-160deg);
}

.rotate-5 {
    transform: translateZ(-412px) rotateY(-200deg);
}

.rotate-6 {
    transform: translateZ(-412px) rotateY(-240deg);
}

.rotate-7 {
    transform: translateZ(-412px) rotateY(-280deg);
}

.rotate-8 {
    transform: translateZ(-412px) rotateY(-320deg);
}

.carousel__controls {
    margin-top: 20px;

    text-align: center;
}

.carousel__controls button {
    transition: background 0.3s ease;

    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    font-size: 16px;

    color: white;
    background: rgba(0, 0, 0, 0.7);
}

.carousel__controls button:hover {
    background: rgba(0, 0, 0, 0.9);
}